:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --color-primary-400: #ff651ecb;
    --color-secondary-400: #ffdd1ecb;
    --color-text: #e7d9d9;

    --color-bg-primary: #09110cf3;
}
body {
    background-color: var(--color-bg-primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

main {
    margin: 2rem auto;
    text-align: center;
    color: var(--white);
}
